CompileFlags:
  Add: 
    - "-Wall"
    - "-Wextra"
    - "-pedantic"
    # Provide the include path relative to the directory containing .clangd
    - "-Ilibsimdcnn/include"
    - "-Ilibsimdcnn/src/asm"

Index:
  StandardLibrary: true